@using AmiFlota.Enums
@using AmiFlota.Contracts
@inject IUserData UserData
@model AmiFlota.Models.ViewModels.TripEndVM

<div class="modal fade" id="tripEndModal" tabindex="-1" role="dialog" aria-labelledby="tripEndModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" asp-controller="Trip" asp-action="FinishTrip" id="tripEndModalForm">
                <input asp-for="Id" type="hidden"></>

                <div class="modal-header">
                    <h5 class="modal-title" id="tripEndModalTitle">Trip end</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    @if (@UserData.IsPriviledgedUser())
                    {
                        <div class="form-group row mb-2">
                            <div class="col-6 text-end col-form-label">
                                <label asp-for="BookingId">Booking ID:</label>
                            </div>
                            <div class="col-6 text-center">
                                <label class="form-control">@Model.BookingId</label>
                                <input asp-for="BookingId" type="hidden">
                            </div>
                        </div>
                    }

                    <div class="form-group row mb-2">
                        <div class="col-6 text-end col-form-label">
                            <label asp-for="EndKm">End mileage:</label>
                        </div>
                        <div class="col-6">
                            <input asp-for="EndKm" class="form-control text-center"></>
                            <span asp-validation-for="EndKm"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <div class="col-6 text-end col-form-label">
                            <label asp-for="EndLocation">End location:</label>
                        </div>
                        <div class="col-6 ">
                            <select asp-for="EndLocation" class="form-control text-center" placeholder="Choose end location" id="endLocation"></select>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <div class="col-6 text-end col-form-label">
                            <label asp-for="Cost">Cost:</label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Cost" class="form-control text-center"></>
                            <span asp-validation-for="Cost"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <div class="col-6 text-end col-form-label">
                            <label asp-for="CostRemarks">Cost description:</label>
                        </div>
                        <div class="col-6">
                            <input asp-for="CostRemarks" class="form-control text-center"></>
                            <span asp-validation-for="CostRemarks"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input asp-for="BookingStatus" type="hidden" value="@BookingStatus.Finished"></>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row align-items-center">
                        <button type="submit" id="btnEndTrip" class="btn btn-success btn-end-trip">End trip</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    $(document).ready(function() {

        var dtoEndLocations = [];

        $.ajax({
            url: routeURL + '/api/Trip/GetAllEndLocations',
            type: 'GET',
            dataType: 'JSON',
            success: function(response) {
                if (response.status === 1) {

                    $.each(response.dataenum, function(i, data) {
                        dtoEndLocations.push({
                            location: data
                        });
                    });

                    $('#endLocation').selectize({
                        valueField: 'location',
                        labelField: 'location',
                        searchField: 'location',
                        options: dtoEndLocations,
                        create: true
                    });
    @*$.notify(response.message, "success");*@
                         }
                else {
                    $.notify(response.message, "error");
                }

            },
            error: function(xhr) {
                $.notify("Error", "error");
            }
        });
    });
</script>