@model AmiFlota.Models.ViewModels.TripVM

<div class="modal fade" id="tripEndModal" tabindex="-1" role="dialog" aria-labelledby="tripEndModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <h4>End Trip Modal</h4>
            <form method="post" asp-controller="Trip" asp-action="UpdateTrip" id="tripEndModalForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="tripEndModalTitle">Trip end</h5>
                </div>


                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-6 text-right">
                            <label asp-for="BookingId">BookingId: </label>
                        </div>

                        <div class="col-6 text-left">
                            <label asp-for="BookingId">@Model.BookingId</label>
                            <input asp-for="BookingId" type="hidden"></>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="StartKm">Start mileage: @Model.StartKm</label>
                        <input asp-for="StartKm" type="hidden"></>
                    </div>

                    <div class="form-group">
                        <label asp-for="EndKm">End milleage:</label>
                        <input asp-for="EndKm" class="form-control" id="endKm"></>
                    </div>

                    <div class="form-group">
                        <label asp-for="Cost">Cost: </label>
                        <input asp-for="Cost" class="form-control" id="cost"></>
                    </div>

                    <div class="form-group">
                        <label asp-for="CostRemarks">Cost remarks</label>
                        <input asp-for="CostRemarks" class="form-control" id="costRemarks"></>
@*                        <span asp-validation-for="CostRemarks"></span>*@
                    </div>
                    <div class="form-group">
                        @*                        <label asp-for="Active">isActive:</label>*@
                        <input asp-for="Active" type="hidden"></>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row align-items-center">
                        <button type="submit" id="btnEndTrip" class="btn btn-success btn-end-trip">End trip</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>