@using static AmiFlota.Utilities.Enums
@model AmiFlota.Models.ViewModels.TripVM

<div class="modal fade" id="tripStartModal" tabindex="-1" role="dialog" aria-labelledby="tripStartModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" asp-controller="Trip" asp-action="StartTrip" id="tripStartModalForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="tripStartModalTitle">Trip start</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    @if (User.IsInRole(UserRole.admin.ToString())
                    || User.IsInRole(UserRole.manager.ToString()))
                    {
                        <div class="form-group row mb-2">
                            <div class="col-6 text-end col-form-label">
                                <label asp-for="BookingId">Booking ID:</label>
                            </div>
                            <div class="col-6 text-center">
                                <label class="form-control">@Model.BookingId</label>
                                <input asp-for="BookingId" type="hidden">
                            </div>
                        </div>
                    }

                    <div class="form-group row mb-2">
                        <div class="col-6 text-end col-form-label">
                            <label asp-for="StartKm">Start mileage:</label>
                        </div>
                        <div class="col-6">
                            <input asp-for="StartKm" class="form-control text-center"></>
                            <span asp-validation-for="StartKm"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <div class="col-6 text-end col-form-label">
                            <label asp-for="StartLocation">Start location:</label>
                        </div>
                        <div class="col-6">
                            @*                            <input asp-for="StartLocation" class="form-control text-center"></>
                            <span asp-validation-for="StartLocation"></span>*@
                            <select asp-for="StartLocation" class="form-control text-center" placeholder="Choose start location" id="startLocation"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <input asp-for="EndKm" type="hidden"></>
                    </div>

                    <div class="form-group">
                        <input asp-for="EndLocation" type="hidden"></>
                    </div>

                    <div class="form-group">
                        <input asp-for="Cost" type="hidden"></>
                    </div>

                    <div class="form-group">
                        <input asp-for="CostRemarks" type="hidden" class="form-control" id="costRemarks"></>
                    </div>
                    <div class="form-group">
                        <input asp-for="BookingStatus" type="hidden" value="@AmiFlota.Utilities.Enums.BookingStatus.Active" class="form-control"></>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row align-items-center">
                        <button type="submit" id="btnStartTrip" class="btn btn-success btn-start-trip">Start trip</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {

        var dtoStartLocations = [];

        $.ajax({
            url: routeURL + '/api/Trip/GetAllStartLocations',
            type: 'GET',
            dataType: 'JSON',
            success: function(response) {
                if (response.status === 1) {

                    $.each(response.dataenum, function(i, data) {
                        dtoStartLocations.push({
                            location: data
                        });
                    });

                    $('#startLocation').selectize({
                        valueField: 'location',
                        labelField: 'location',
                        searchField: 'location',
                        options: dtoStartLocations,
                        create: true
                    });
    @*$.notify(response.message, "success");*@
                     }
                else {
                    $.notify(response.message, "error");
                }

            },
            error: function(xhr) {
                $.notify("Error", "error");
            }
        });
    });
</script>