@model AmiFlota.Models.ViewModels.CarDetailsVM

@{
    var photoPath = "/images/cars/" + (Model.Car.PhotoPath ?? "default.jpg");
}

<div class="modal fade" id="carDetailsModal" tabindex="-1" role="dialog" aria-labelledby="carDetailsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <partial name="_CarListItem" model=@Model.Car class="mx-0 px-0" />
                </div>

                <div class="row">
                    <partial name="_TripsHistory" model=@Model.TripsHistory class="mx-0 px-0" />
                </div>
            </div>

        </div>
    </div>
</div>