@model IEnumerable<AmiFlota.Models.CarModel>
@{
    // var photoPath = "/images/cars/" + "noimage" + ".jpg";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of the cars</title>
</head>
<body>
    <div class="container-fluid">

        <div id="_CarDetails"></div>

        <div class="row row-cols-1 row-cols-md-3 g-4">

            @foreach (var car in Model)
            {
                <partial name="_CarCard" model=car />
            }

        </div>

    </div>
</body>
</html>


<script>

    $(".btn-details").on('click', function() {

        var VIN = $(this).data("vin");

        $.ajax({
            url: '@Url.Action("_CarDetailsModal", "Car")',
            datatype: 'html',
            data: { vin: VIN },
            method: 'GET',

            success: function(result) {
                $('#_CarDetails').html('').html(result);
                onShowCarDetailsModal();

            },

            error: function(error) {
                console.log(error);
                console.log("Unable to load modal view - Details");
            }
        });
    });


    function onShowCarDetailsModal() {
        $("#carDetailsModal").modal("show");
    }
</script>