@model IEnumerable<AmiFlota.Models.CarModel>
@{
    var photoPath = "/images/cars/" + "noimage" + ".jpg";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of the cars</title>
</head>
<body>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        @foreach (var car in Model)
        {
            <partial name="_CarCard" model=car />
        }

    </div>

</body>
</html>


