@using static AmiFlota.Utilities.Enums
@model IEnumerable<AmiFlota.Models.ViewModels.BookingVM>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bookings list</title>
</head>
<body>

    @if (Model.Count() > 0)
    {
        <h2>Approved bookings</h2>
        @foreach (var booking in Model)
        {
            <div class="row mt-4 border border-dark border-opacity-25">
                <partial name="_BookingListItem" model=booking />
            </div>

            <div class="row border-0 mr-0 pr-0 text-end">
                <div class="col-12 border-0 mr-0 pr-0" role="group">
                    @if (User.IsInRole(UserRole.admin.ToString())
                   || User.IsInRole(UserRole.manager.ToString())
                   || User.Identity.Name.Equals(booking.UserName))
                    {
                        @if (DateTime.Now >= booking.StartDate && DateTime.Now <= booking.EndDate)
                        {
                            <button type="button" id="btnDashboardTakeCar" class="btn btn-warning btn-approved-take-car" data - id="@booking.Id">Take the car</button>
                        }

                        <button type="button" id="btnDashboardReject" class="btn btn-warning btn-approved-reject" data-id="@booking.Id">Reject</button>
                        <button type="button" id="btnDashboardDelete" class="btn btn-danger btn-approved-delete" data-id="@booking.Id">Delete</button>
                    }

                    @*                    @if (User.Identity.Name.Equals(booking.UserName))
            {

            }*@
                </div>
            </div>
        }
    }
</body>
</html>

<script src="~/js/current-date-time.js"></script>

@*<script>
    $(document).ready(function() {
        $(".btn-approved-take-car").hide();
    });
</script>*@

@*<script>
    $(document).ready(function() {
        $(".btn-approved-take-car").click(function() {
            $(this).hide();
        });
    });
</script>*@

@*<script>

    $("#btnDashboardTakeCar").hide();

</script>*@

<script>
    $(document).ready(function() {




        $(".btn-approved-take-car").click(function() {
            var BookingId = $(this).data("id");

            $.ajax({
                url: routeURL + '/api/Booking/TakeCar',
                type: 'GET',
                data: { bookingId: BookingId },
                dataType: 'JSON',
                success: function(response) {
                    if (response.status === 1) {
                        location.reload();
                        $.notify(response.message, "success");
                    }
                    else {
                        $.notify(response.message, "error");
                    }

                },
                error: function(xhr) {
                    $.notify("Error", "error");
                }
            });
        });

        $(".btn-approved-reject").click(function() {
            var BookingId = $(this).data("id");

            $.ajax({
                url: routeURL + '/api/Booking/RejectEvent',
                type: 'GET',
                data: { id: BookingId },
                dataType: 'JSON',
                success: function(response) {
                    if (response.status === 1) {
                        location.reload();
                    }
                    else {
                        $.notify(response.message, "error");
                    }

                },
                error: function(xhr) {
                    $.notify("Error", "error");
                }
            });
        });

        $(".btn-approved-delete").click(function() {
            var BookingId = $(this).data("id");

            $.ajax({
                url: routeURL + '/api/Booking/DeleteEvent',
                type: 'GET',
                data: { id: BookingId },
                dataType: 'JSON',
                success: function(response) {
                    if (response.status === 1) {
                        location.reload();
                    }
                    else {
                        $.notify(response.message, "error");
                    }

                },
                error: function(xhr) {
                    $.notify("Error", "error");
                }
            });
        });
    });
</script>



