@model IEnumerable<AmiFlota.Models.ViewModels.BookingVM>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bookings list</title>
</head>
<body>
    @if (Model.Count() > 0)
    {
        <h2>Approved bookings</h2>
        <div class="row row-cols-1 row-cols-md-1">
            @foreach (var booking in Model)
            {
                <div class="row mt-4 border border-dark border-opacity-25">

                    <div class="col-10">
                        <partial name="_BookingListItem" model=booking />
                    </div>


                    <div class="col-2">
                        @if (User.IsInRole(AmiFlota.Utilities.Enums.UserRole.admin.ToString()))
                        {

                            <button type="button" id="btnDashboardReject" class="btn btn-warning btn-approved-reject" data-id="@booking.Id">Reject</button>

                            //TODO Show the button only when booking start date is lower than now()
                            //TODO When button is clicked -> create new record in Trips Database
                            <button type="button" id="btnDashboardTakeCar" class="btn btn-warning btn-approved-take-car" data-id="@booking.Id">Take the car</button>

                            <button type="button" id="btnDashboardDelete" class="btn btn-danger btn-approved-delete" data-id="@booking.Id">Delete</button>
                        }
                    </div>
                </div>

            }
        </div>
    }
</body>
</html>

<script src="~/js/current-date-time.js"></script>

<script>
    $(document).ready(function() {
        $(".btn-approved-take-car").click(function() {
            var BookingId = $(this).data("id");
            console.log(BookingId);

            $.ajax({
                url: routeURL + '/api/Booking/TakeCar',
                type: 'GET',
                data: { bookingId: BookingId },
                dataType: 'JSON',
                success: function(response) {
                    if (response.status === 1) {
                        location.reload();
                        $.notify(response.message, "success");
                    }
                    else {
                        $.notify(response.message, "error");
                    }

                },
                error: function(xhr) {
                    $.notify("Error", "error");
                }
            });

    @*$.ajax({
                url: UrlRequest,
                datatype: 'html',
                data: { bookingId: BookingId },
                method: 'GET',

                success: function(result) {
                $('#_TripStartModal').html('').html(result);
                onShowTripStartModal();
                },

                error: function(xhr, status, error) {
                console.log("error");
                }
                });*@
            });


        $(".btn-approved-reject").click(function() {
            var bookingId = $(this).data("id");

            $.ajax({
                url: routeURL + '/api/Booking/RejectEvent',
                type: 'GET',
                data: { id: bookingId },
                dataType: 'JSON',
                success: function(response) {
                    if (response.status === 1) {
                        location.reload();
    @* $.notify(response.message, "success");*@
                                }
                    else {
                        $.notify(response.message, "error");
                    }

                },
                error: function(xhr) {
                    $.notify("Error", "error");
                }
            });
        });


        $(".btn-approved-delete").click(function() {
            var bookingId = $(this).data("id");

            $.ajax({
                url: routeURL + '/api/Booking/DeleteEvent',
                type: 'GET',
                data: { id: bookingId },
                dataType: 'JSON',
                success: function(response) {
                    if (response.status === 1) {
                        location.reload();
    @* $.notify(response.message, "success");*@
                                }
                    else {
                        $.notify(response.message, "error");
                    }

                },
                error: function(xhr) {
                    $.notify("Error", "error");
                }
            });
        });
    });
</script>



