@model AmiFlota.Models.ViewModels.CalendarVM

<div class="modal fade modal-lg" role="dialog" id="calendarEvent" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content ">


            <div class="modal-header">
                @*                <h5 class="modal-title w-100 text-center">@Model.Car.Brand @Model.Car.Model @Model.Car.RegistrationNumber</h5>*@
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-2">

                <div class="row">
                    <partial name="_BookingListItem" model=@Model.Booking class="mx-0 px-0" />
                </div>

                <h2>hellooo</h2>
                <h2>@Model.Booking.BookingStatus</h2>

                @*//TRIPS*@
                <div class="row">
                    <partial name="_TripsHistory" model=@Model.TripsHistory class="mx-0 px-0" />
                </div>
            </div>

        </div>
    </div>
</div>