<div class="modal fade" role="dialog" id="calendarEvent" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="calendarEventForm" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title">Calendar event details</h4>
                </div>
                <div class="modal-body">
                    <h2>Test</h2>
                    @*                    <div class="form-group">
                    <label for="title">User Name</label>
                    <input type="text" maxlength="100" class="form-control" id="title" />
                    </div>*@
                    @*                    <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" id="description"> </textarea>
                    </div>*@
                    @*                            <div class="form-group">
                    <label for="lblStatus">Status</label>
                    <label class="form-control" disabled id="lblStatus" />
                    </div>*@

@*                    <div class="form-group">
                        <label for="appointmentDate">Start Date Time</label>
                        <input class="form-control" id="appointmentDate" style="width: 100%;">
                    </div>*@
@*
                    <input type="hidden" id="id" />*@
                </div>
                <div class="modal-footer">
@*                    <button type="button" class="btn btn-secondary" onclick="onCloseModal();">Close</button> &nbsp; <!--space-->
                        <button type="button" id="btnSubmit" class="btn btn-success" onclick="onSubmitForm();">Submit</button>
                        <button type="button" id="btnDelete" class="btn btn-danger" onclick="onDeleteAppointment();">Delete</button>*@
                </div>
            </form>
        </div>
    </div>
</div>