<div class="modal fade" role="dialog" id="calendarEvent" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="calendarEventForm" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title">Booking event details</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="id" />

                    <div class="form-group">
                        <label for="title">User Name</label>
                        <label class="text-center" disabled id="userName" />
                    </div>
                    <div class="form-group">
                        <label for="title">Registration Number</label>
                        <label class="text-center" disabled id="registrationNumber" />
                    </div>
                    <div class="form-group">
                        <label for="title">Destination</label>
                        <label class="text-center" disabled id="destination" />
                    </div>

                    <div class="form-group">
                        <label for="title">Project Cost</label>
                        <label class="text-center" disabled id="projectCost" />
                    </div>

                    @*                                             
                    <div class="form-group">
                    <label for="title">Approved</label>
                    <label class="text-center" disabled id="isApproved" />
                    </div>*@

                </div>
                <div class="modal-footer">

                    <button type="button" id="btnDelete" class="btn btn-danger" onclick="onDelete();">Delete</button> &nbsp
                    <button type="button" id="btnConfirm" class="btn btn-success" onclick="onConfirm();">Confirm</button> &nbsp
                    <button type="button" class="btn btn-secondary" onclick="onCloseModal();">Close</button> &nbsp;
                </div>
            </form>
        </div>
    </div>
</div>