@model IEnumerable<AmiFlota.Models.ViewModels.BookingVM>
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No cars available</title>
</head>
<body>
    @if (Model.Count() > 0)
    {
        <h2>No available cars found, but you can still raise a conflict to administrator for pending bookings.</h2>

        @foreach (var booking in Model)
        {
            <div class="row mt-4 border border-dark border-opacity-25">
                <partial name="_BookingListItem" model=booking />
            </div>


            <div class="row border-0 text-end">
                <div class="col-12 border-0 mx-0 px-0" role="group">
                    <button type="button" id="btnRaiseConflict"
                    class="btn btn-dark mx-0 px-4 btn-raise-conflict"
                    data-id="@booking.Id">
                        Raise a conflict
                    </button>
                </div>
            </div>

        }
    }
    else
    {
        <h2>No available cars found.</h2>
    }
</body>
</html>





