@using static AmiFlota.Utilities.Enums
@model IEnumerable<AmiFlota.Models.ViewModels.BookingVM>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bookings list</title>
</head>
<body>
    @if (Model.Count() > 0)
    {
        <h2>Pending bookings</h2>

        @foreach (var booking in Model)
        {
            <div class="row mt-4 border border-dark border-opacity-25">
                <partial name="_BookingListItem" model=booking />
            </div>


            <div class="row border-0 text-end">
                <div class="col-12 border-0 mx-0 px-0" role="group">

                    @if (User.IsInRole(UserRole.admin.ToString()) 
                    || User.IsInRole(UserRole.manager.ToString()))
                    {
                        <button type="button" id="btnPendingConfirm"
                    class="btn btn-success mx-0 px-4 btn-pending-confirm"
                    data-id="@booking.Id">
                            Confirm
                        </button>

                        <button type="button" id="btnPendingDelete"
                    class="btn btn-danger mx-0 px-4 btn-pending-delete"
                    data-id="@booking.Id">
                            Delete
                        </button>
                    }
                </div>
            </div>

        }
    }
</body>
</html>

<script>
    $(document).ready(function() {
        $(".btn-pending-confirm").click(function() {
            var bookingId = $(this).data("id");

            $.ajax({
                url: routeURL + '/api/Booking/ConfirmEvent',
                type: 'GET',
                data: { id: bookingId },
                dataType: 'JSON',
                success: function(response) {
                    if (response.status === 1) {
                        location.reload();
    @* $.notify(response.message, "success");*@
                                        }
                    else {
                        $.notify(response.message, "error");
                    }

                },
                error: function(xhr) {
                    $.notify("Error", "error");
                }
            });
        });

        $(".btn-pending-delete").click(function() {
            var eventId = $(this).data("id");

            $.ajax({
                url: routeURL + '/api/Booking/DeleteEvent',
                type: 'GET',
                data: { id: eventId },
                dataType: 'JSON',
                success: function(response) {
                    if (response.status === 1) {
                        $.notify(response.message, "success");
                    }
                    else {
                        $.notify(response.message, "error");
                    }
                },
                error: function(xhr) {
                    $.notify("Error", "error");
                }
            });
        });
    });
</script>



