@model AmiFlota.Models.ViewModels.BookingVM

<div class="row text-center">
    <h2>Booking detailed information</h2>
</div>

<div class="form-group row">
    <h4>@Model.RegistrationNumber</h4>
</div>
<div class="form-group row">
    <h4>@Model.UserName</h4>
</div>

<form method="post" asp-controller="Booking" asp-action="BookingDetails" id="bookingDetailsForm">
    <input asp-for="RegistrationNumber" type="hidden"></>
    <input asp-for="UserName" type="hidden"></>
    <input asp-for="StartDate" type="hidden">@Model.StartDate </>
    <input asp-for="EndDate" type="hidden"> @Model.EndDate</>

    <div class="border p-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Destination">Destination</label>
            <input asp-for="Destination" class="form-control" id="Booking.Destination"></>
        </div>
        <div class="form-group">
            <label asp-for="ProjectCost">Project:</label>
            <input asp-for="ProjectCost" class="form-control" id="Booking.ProjectCost"></>
        </div>

        <div class="row">
            <button type="submit" id="btnBookDetails" class="btn btn-success">Book</button> &nbsp; <!--space-->
        </div>
    </div>
</form>