@*@model AmiFlota.Models.ViewModels.CalendarVM*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calendar</title>
</head>
<body>
    <div id="_CalendarEventModal"> </div>


    <div class="row">

        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-12 order-1">
            <div id="_selectCars"> </div>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-6 col-12 order-2">
            <div id="calendar"> </div>
        </div>
    </div>


    <div id="loader" data-request-url="@Url.Action("GetCalendarDataById", "Booking")"></div>
</body>

</html>

<script>

    $(document).ready(function() {

        $.ajax({
            url: '@Url.Action("SelectCars", "Booking")',
            datatype: 'html',
            method: 'GET',

            success: function(result) {

                $('#_selectCars').html('').html(result);
                InitializeCalendar();

            },

            error: function(error) {
                console.log(error);
                console.log("Unable to load partial view - Select Cars");
            }
        });
    });

</script>
