@*@model AmiFlota.Models.ViewModels.BookingVM*@
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search for available car</title>
</head>
<body>
    <div id="_BookingDetailsModal"> </div>


    <div class="container-fluid container-lg">
        <div class="row text-center">
            <h2>Booking dates</h2>
        </div>

        <div class="justify-content-center  input-group mb-3">
            <input type="text" class="form-control text-center" placeholder="Booking dates" name="datetimerange" id="datetimeRange" aria-label="Booking dates">
            <button class="btn btn-outline-secondary btn-search" type="button" id="btnSearch">Search</button>
        </div>

        <div id="_SearchingResults"> </div>
    </div>


    <footer>
        @*        <div class="text-right pt-2">
        <p>Confirmation email will be sent to: @HttpContextAccessor.HttpContext.Session.GetString("userEmailAssigned")</p>
        </div>*@
    </footer>

</body>
</html>

<script src="~/js/current-date-time.js"></script>

@* //TODO Relocate script to separate file*@
<script>

    let DateTime = getRoundedSearchDateTime();
    let Limits = getLimitDates();

    //TODO Do not take / return car during the weekends
    $('input[name="datetimerange"]').daterangepicker({
        "showISOWeekNumbers": true,
        "minYear": Limits.YearMin,
        "maxYear": Limits.YearMax,
        "showDropdowns": true,
        "timePicker": true,
        "timePicker24Hour": true,
        "timePickerIncrement": 15,
        "locale": {
            "format": "DD/MM/YYYY HH:mm",
            "separator": " - ",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel": "CW",
            "daysOfWeek": [
                "Su",
                "Mo",
                "Tu",
                "We",
                "Th",
                "Fr",
                "Sa"
            ],
            "monthNames": [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ],
            "firstDay": 1
        },
        "startDate": DateTime.startDateTime,
        "endDate": DateTime.endDateTime,
        "minDate": Limits.DateMin,
        "maxDate": Limits.DateMax,
        "opens": "center"
    });
</script>

<script>
    $('#btnSearch').on('click', function() {
        var datetimeRangeToParse = document.getElementById('datetimeRange').value;

        const [startDateTime, endDateTime] = datetimeRangeToParse.split(' - ');

        $.ajax({
            url: '@Url.Action("FilterCars", "Booking")',
            datatype: 'html',
            data: { startDate: startDateTime, endDate: endDateTime },
            method: 'GET',

            success: function(result) {
                $('#_SearchingResults').html('').html(result);
            },

            error: function(error) {
                console.log(error);
            }
        });
    });
</script>

