@model AmiFlota.Models.BookingModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search for available car</title>
</head>
<body>

    @*//TODO Rewaork it to search partial view*@
    @*_BookingSearch*@
    <form id="bookingForm" autocomplete="off" novalidate="novalidate">
        <div class="row text-center">
            <h2>Booking dates</h2>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <input class="select-datetime" name="daterange" id="datetimeRange">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <button type="button" id="btnSearch" class="btn btn-success">Search</button>
            </div>
        </div>

        @*//TODO Return bookingStartDate and bookingEndDate to bookingVM *@
    </form>

    <div id="_SearchingResults"> </div>

    <footer>
        <div class="text-right pt-2">
            <p>Confirmation email will be sent to: @HttpContextAccessor.HttpContext.Session.GetString("userEmailAssigned")</p>
        </div>
    </footer>

</body>
</html>

@* //TODO Relocate script to separate file*@
<script>
    $('input[name="daterange"]').daterangepicker({
    "showISOWeekNumbers": true,
    "timePicker": true,
    "timePicker24Hour": true,
    "timePickerIncrement": 15,
    "locale": {
        "format": "DD/MM/YYYY HH:mm",
        "separator": " - ",
        "applyLabel": "Apply",
        "cancelLabel": "Cancel",
        "fromLabel": "From",
        "toLabel": "To",
        "customRangeLabel": "Custom",
        "weekLabel": "KW",
        "daysOfWeek": [
            "Su",
            "Mo",
            "Tu",
            "We",
            "Th",
            "Fr",
            "Sa"
        ],
        "monthNames": [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December"
        ],
        "firstDay": 1
    },
    "startDate": "04/08/2022 08:00",
    "endDate": "07/08/2022 16:15",
    "opens": "center"
});
</script>

<script>
    $('#btnSearch').on('click',function(){
        var datetimeRangeToParse = document.getElementById('datetimeRange').value;
        console.log(datetimeRangeToParse);

        const [startDateTime, endDateTime]  = datetimeRangeToParse.split(' - ');


        $.ajax({
            url: '@Url.Action("FilterCars", "Booking")',
            datatype: 'html',
  //          data: {startDate:($('#bookingStartDate').val()), endDate:($('#bookingEndDate').val())},
            data: {startDate:startDateTime, endDate:endDateTime},
            method: 'GET',

            success: function (result) {
                $('#_SearchingResults').html('').html(result);
            },

            error: function (error) {
                console.log(error);
            }
        });
    });
</script>

