<div id="_TripStartModal"> </div>
<div id="_TripEndModal"> </div>

<h2>Active bookings</h2>

<div id="_ActiveBookings"> </div>

<h2>Approved bookings</h2>

<div id="_ApprovedBookings"> </div>

<h2>Pending bookings</h2>

<div id="_PendingBookings"> </div>





<script>
    $(document).ready(function() {

        $.ajax({
            url: '@Url.Action("ActiveBookingsCurrentUser", "Booking")',
            datatype: 'html',
            method: 'GET',

            success: function(result) {
                $('#_ActiveBookings').html('').html(result);
            },

            error: function(error) {
                console.log(error);
                console.log("Unable to load partial view - Active Bookings");
            }
        });

        $.ajax({
            url: '@Url.Action("ApprovedBookingsCurrentUser", "Booking")',
            datatype: 'html',
            method: 'GET',

            success: function(result) {
                $('#_ApprovedBookings').html('').html(result);
            },

            error: function(error) {
                console.log(error);
                console.log("Unable to load partial view - Approved Bookings");
            }
        });


        $.ajax({
            url: '@Url.Action("PendingBookingsCurrentUser", "Booking")',
            datatype: 'html',
            method: 'GET',

            success: function(result) {
                $('#_PendingBookings').html('').html(result);
            },

            error: function(error) {
                console.log(error);
                console.log("Unable to load partial view - Pending Bookings");
            }
        });

    });
</script>
