<div id="_TripStartModal"> </div>
<div id="_TripEndModal"> </div>


<div class="container-fluid container-xl no-gutters clearfix">

    <ul class="nav nav-tabs mx-0 px-0" id="dashboardTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab-activeBookings" data-bs-toggle="tab" data-bs-target="#active-tab-pane" type="button" role="tab" aria-controls="active-tab-pane" aria-selected="true">Active</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-approvedBookings" data-bs-toggle="tab" data-bs-target="#approved-tab-pane" type="button" role="tab" aria-controls="approved-tab-pane" aria-selected="false">Approved</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-pendingBookings" data-bs-toggle="tab" data-bs-target="#pending-tab-pane" type="button" role="tab" aria-controls="pending-tab-pane" aria-selected="false">Pending</button>
        </li>
    </ul>

    <div class="tab-content mx-0 px-0" id="dashboardTabsContent">
        <div class="tab-pane fade show active" id="active-tab-pane" role="tabpanel" aria-labelledby="active-tab" tabindex="0">
            <div id="_ActiveBookings"> </div>
        </div>
        <div class="tab-pane fade" id="approved-tab-pane" role="tabpanel" aria-labelledby="approved-tab" tabindex="0">
            <div id="_ApprovedBookings"> </div>
        </div>

        <div class="tab-pane fade" id="pending-tab-pane" role="tabpanel" aria-labelledby="pending-tab" tabindex="0">
            <div id="_PendingBookings"> </div>
        </div>
    </div>
</div>


<script>


</script>



<script>
    $(document).ready(function() {


        $.ajax({
            url: '@Url.Action("ActiveBookingsCurrentUser", "Booking")',
            datatype: 'html',
            method: 'GET',

            success: function(result) {
                $('#_ActiveBookings').html('').html(result);
            },

            error: function(error) {
                console.log(error);
                console.log("Unable to load partial view - Active Bookings");
            }
        });

        $.ajax({
            url: '@Url.Action("ApprovedBookingsCurrentUser", "Booking")',
            datatype: 'html',
            method: 'GET',

            success: function(result) {
                $('#_ApprovedBookings').html('').html(result);
            },

            error: function(error) {
                console.log(error);
                console.log("Unable to load partial view - Approved Bookings");
            }
        });


        $.ajax({
            url: '@Url.Action("PendingBookingsCurrentUser", "Booking")',
            datatype: 'html',
            method: 'GET',

            success: function(result) {
                $('#_PendingBookings').html('').html(result);
            },

            error: function(error) {
                console.log(error);
                console.log("Unable to load partial view - Pending Bookings");
            }
        });

    });





</script>


