<div id="_TripStartModal"> </div>
<div id="_TripEndModal"> </div>


<div class="container-fluid">
    <div class="row">

        <div class="col-6">
            <div id="_ActiveBookings"> </div>
        </div>
        <div class="col-6">
            <div id="_ApprovedBookings"> </div>

            <div id="_PendingBookings"> </div>
        </div>
    </div>

</div>






<script>
    @*   $(document).ajaxSuccess(function() {
        window.location.reload();
        });*@

        $(document).ready(function() {

            $.ajax({
                url: '@Url.Action("ActiveBookingsCurrentUser", "Booking")',
                datatype: 'html',
                method: 'GET',

                success: function(result) {
                    $('#_ActiveBookings').html('').html(result);
                },

                error: function(error) {
                    console.log(error);
                    console.log("Unable to load partial view - Active Bookings");
                }
            });

            $.ajax({
                url: '@Url.Action("ApprovedBookingsCurrentUser", "Booking")',
                datatype: 'html',
                method: 'GET',

                success: function(result) {
                    $('#_ApprovedBookings').html('').html(result);
                },

                error: function(error) {
                    console.log(error);
                    console.log("Unable to load partial view - Approved Bookings");
                }
            });


            $.ajax({
                url: '@Url.Action("PendingBookingsCurrentUser", "Booking")',
                datatype: 'html',
                method: 'GET',

                success: function(result) {
                    $('#_PendingBookings').html('').html(result);
    @*$('#_PendingBookings').load('<%= Url.Action("Booking", "PendingBookingsCurrentUser") %>');*@
                            },

                error: function(error) {
                    console.log(error);
                    console.log("Unable to load partial view - Pending Bookings");
                }
            });

        });





</script>
